.projects {
	opacity: 0;
	transform: translateY(5rem);
}

.projects__main {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	gap: 3rem;
}

.project {
	width: 40%;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	border-radius: 10px;
	padding: 3em;
	background-color: var(--primary);
}

.project__h3 {
	color: var(--secondary);
}

.project__images {
	max-width: 800px;
	opacity: 0.7;
	transition: opacity 0.3s;
}

.project__images:hover {
	opacity: 1;
}

.project__img {
	filter: drop-shadow(2px 2px 10px black);
}

.project__img--desktop {
	width: 65%;
}
.project__img--tablet {
	width: 28%;
	margin-left: -4%;
	margin-bottom: -5px;
}
.project__img--mobile {
	width: 15%;
	margin-left: -4%;
	text-shadow: 2px 2px black;
	margin-bottom: -10px;
}

.project__technologies {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.project__technologies h4 {
	border: 1px solid var(--tertiary);
	border-radius: 5px;
	display: inline-block;
	padding: 0.3rem 0.7rem;
	font-family: 'JetBrains Mono', monospace;
	/* color: var(--primary);
	background-color: var(--tertiary); */
	font-weight: 400;
	font-size: 14px;
}

.project__technologies li {
	list-style: none;
}

.project__links {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	height: 100%;
	margin-top: 1rem;
}

.project__links a {
	font-size: 14px;
}

@media screen and (max-width: 1350px) {
	.project {
		width: 45%;
	}
}
@media screen and (max-width: 1200px) {
	.projects__main {
		justify-content: center;
	}
	.project {
		width: 70%;
	}
}

@media screen and (max-width: 768px) {
	.projects__main {
		flex-direction: column;
		gap: 2rem;
		align-items: center;
	}

	.project {
		width: 100%;
		max-width: 500px;
		padding: 3em 2em;
	}
}
