.about {
	opacity: 0;
	transform: translateY(5rem);
}

.info {
	margin-top: 3rem;
}

.photo {
	width: 250px;
	height: 250px;
	position: relative;
	border-radius: 10px;
	background-color: var(--secondary);
}

.photo img {
	width: 250px;
	height: 250px;
	border-radius: 10px;
	background-color: var(--tertiary);
	transform: rotate(10deg);
	border: 2px solid var(--tertiary);
	transition: all 0.3s;
}

.photo img:hover {
	transform: rotate(0deg);
}

@media screen and (max-width: 948px) {
	.photo {
		width: 150px;
		height: 150px;
	}
	.photo img {
		width: 150px;
		height: 150px;
	}
}

.about__main {
	display: flex;
	gap: 8rem;
	margin-top: 5rem;
}

@media screen and (max-width: 768px) {
	.about__main {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-right: 0;
		gap: 4rem;
	}

	.about__sidebar {
		order: 2;
	}

	.photo {
		width: 50vw;
		height: 50vw;
		max-width: 200px;
		max-height: 200px;
	}

	.photo img {
		width: 50vw;
		height: 50vw;
		max-width: 200px;
		max-height: 200px;
	}
}

.about__text {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	padding: 2rem;
	background-color: var(--primary);
	border-radius: 10px;
}

.about__text h3 {
	color: var(--secondary);
	margin-bottom: 1rem;
}

.about__skills ul {
	list-style: none;
	columns: 2;
	margin-top: 1rem;
}

.about__skills li {
	padding: 0.5rem 0;
	font-family: var(--jetBrains);
	color: var(--secondary);
}

.about__skills li::before {
	content: '►';
	margin-right: 0.5rem;
	color: var(--secondary);
	opacity: 0.7;
}
