.header {
	min-height: var(--headerHeight);
	padding-top: 5rem;
	position: relative;
	max-width: 1100px;
	margin: 0 auto;
	/* opacity: 0; */
	/* animation: fade-in 0s forwards; */
}

.header__span {
	display: block;
	color: var(--secondary);
	font-family: 'JetBrains Mono', monospace;
	border-right: 3px solid;
	white-space: nowrap;
	width: 13ch;
	animation: typing 2s steps(13), blink 0.5s infinite step-end alternate;
	overflow: hidden;
}

@keyframes typing {
	from {
		width: 0;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

.header h1 {
	font-size: clamp(2rem, 7vw, 4.5rem);
	color: white;
	line-height: 1.1;
	padding-right: 0.2rem;
	margin: 2rem 0rem 2rem;
	font-family: 'Heebo', sans-serif;
	text-shadow: 2px 2px 10px #0008;
}

.header h2 {
	font-size: clamp(2rem, 7vw, 4.5rem);
	padding-left: 2rem;
	line-height: 0.9;
	font-family: 'Heebo', sans-serif;
}

.header__buttons {
	display: flex;
	gap: 1.5rem;
	align-items: center;
	margin-top: 5rem;
}

.header__button {
	padding: 0.5rem 2.5rem;
	border: 2px solid var(--tertiary);
	border-radius: 5px;
	font-family: var(--jetBrains);
	font-size: 14px;
	cursor: pointer;
}

.header__button--about {
	background-color: var(--tertiary);
	color: var(--primary);
	font-weight: bold;
}
.header__button--resume {
	background-color: transparent;
	color: var(--tertiary);
}

.avatarMenu {
	position: absolute;
	bottom: 0;
	right: -8vw;
	width: 24vw;
	height: 24vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.header__circle {
	border-radius: 50%;
	width: 16vw;
	height: 16vw;
	background-color: var(--secondary);
}

.header__emoji {
	height: 22vw;
	position: absolute;
	bottom: 0;
	right: 5rem;
	filter: drop-shadow(10px 2px 6px #000b);
}

.socials {
	position: absolute;
	width: 24vw;
	height: 24vw;
	background-color: transparent;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	top: 0;
}
.social {
	border-radius: 50%;
	width: 1.7vw;
	height: 1.7vw;
	position: absolute;
	left: 0;
	transform-origin: 12vw;
	cursor: pointer;
	z-index: 99;
	filter: drop-shadow(2px 4px 6px #000);
	transition: filter 0.3s;
}

.social:hover {
	width: 2vw;
	height: 2vw;
}

.social img {
	width: 100%;
	cursor: pointer;
}

.social1 {
	transform: rotate(calc(30deg));
}
.social1 img {
	transform: rotate(calc(-30deg));
}

.social2 {
	transform: rotate(calc(60deg));
}
.social2 img {
	transform: rotate(calc(-60deg));
}
