.navBar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 5rem 1rem 2rem;
	height: var(--navHeight);
}

.navBar__ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 3rem;
}

.navBar__ul li {
	display: inline-block;
	font-family: 'JetBrains Mono', monospace;
	font-size: 14px;
	transition: all 0.25s ease;
}

.navBar__ul li:hover {
	transform: scale(1.4);
}
.navBar__ul li a:hover {
	color: var(--secondary);
}

.navBar__logo {
	height: 3.5rem;
}
