.socialList {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
	width: 40px;
	position: fixed;
	bottom: 0px;
	left: 30px;
}

.socialList::after {
	content: '';
	width: 1px;
	height: 90px;
	background-color: var(--tertiary);
}

.socialList a {
	transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.socialList a:hover {
	transform: translateY(-3px);
	filter: brightness(2);
}

.socialList img {
	width: 20px;
}
