* {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary: #222831;
	--secondary: #fd7014;
	--secondary-50: #fd701444;
	--tertiary: #9ca3af;

	--montserrat: 'Montserrat', sans-serif;
	--jetBrains: 'JetBrains Mono', monospace;

	--navHeight: 5rem;
	--headerHeight: calc(100vh - var(--navHeight));
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	background-color: var(--primary);
	color: var(--tertiary);
}

a {
	text-decoration: none;
	color: inherit;
}
.orange {
	color: var(--secondary);
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes show-section {
	0% {
		opacity: 0;
		transform: translateY(100px);
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
