* {
	margin: 0;
	box-sizing: border-box;
}

:root {
	--primary: #222831;
	--secondary: #fd7014;
	--secondary-50: #fd701444;
	--tertiary: #9ca3af;

	--poppins: 'Poppins', sans-serif;
	--jetBrains: 'JetBrains Mono', monospace;

	--sidePadding: 150px;
	--headerHeight: 100vh;
}

html {
	scroll-behavior: smooth;
	font-size: 100%;
}

body {
	margin: 0;
	font-family: var(--poppins);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-size: 16px;
	background-color: #1c1c1c;
	color: var(--tertiary);
	background-image: url(images/background.png);
}

main {
	padding: 0 var(--sidePadding);
}

section {
	padding-bottom: 5rem;
}

p {
	line-height: 1.5;
	letter-spacing: 0.3px;
}
a {
	text-decoration: none;
	color: inherit;
}

/* ----------------------- MEDIAS ------------------------- */

@media screen and (max-width: 1092px) {
	:root {
		--sidePadding: 100px;
	}
}

@media screen and (max-width: 900px) {
	:root {
		--sidePadding: 75px;
	}
}

@media screen and (max-width: 768px) {
	:root {
		--sidePadding: 50px;
	}
}

@media screen and (max-width: 540px) {
	:root {
		--sidePadding: 25px;
	}
}
